<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>会員登録</title>
</head>
<body>
	<h1>会員登録</h1>
	<ul th:if="${errors}">
		<li th:each="error : ${errors}" th:text="${error}"></li>
	</ul>
	<form action="/account/confirm" method="post">
		<table border="1">
			<tr>
				<th>名前</th>
				<td>
					<input type="text" name="name" th:if="${acocunt}" th:value="${account.name}" />
					<input type="text" name="name" th:unless="${acocunt}" value="田中太郎" />
				</td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td>
					<input type="text" name="email" th:if="${account}" th:value="${account.email}" />
					<input type="text" name="email" th:unless="${account}" value="tanaka@aaa.com" />
				</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>
					<input type="text" name="password" th:if="${account}" th:value="${account.password}" />
					<input type="text" name="password" th:unless="${account}" th:value="'himitu'" />
				</td>
			</tr>
		</table>
		<button>確認</button>
	</form>
</body>
</html>
